.layout-container {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  padding: 5.25rem 1.5rem 12rem;
}

@media screen and (min-width: $tablet) {
  .layout-container {
    padding: 11.25rem 3.5rem 18rem;
    margin: 0 auto;
  }
}

.content-container {
  a:not(.button) {
    color: $purple;
  }
}
