.layout-container {
  position: relative;
  min-height: 100vh;
  margin: 4.25rem auto;
  padding: 1rem 1.5rem;
}

@media screen and (min-width: $tablet) {
  .layout-container {
    padding: 1rem 3.5rem;
    margin: 10.25rem auto;
  }
}

.layout-container .container {
  padding-bottom: 4.5rem;
}
