@media screen and (min-width: $tablet) {
  .index-page .navbar.is-active,
  .index-page .navbar {
    background-color: $charade;
  }
}

.index-page .layout-container {
  margin: 0 auto;
}

// Hero
.hero {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background: $charade;
}

.hero-body {
  padding: 3rem 3.5rem !important;
}

.hero-foot {
  display: flex;
  justify-content: center;
}

.down-pointer {
  position: relative;
  padding: 1rem;
  animation: 0.4s infinite alternate wiggle;
}

@keyframes wiggle {
  from {
    top: 0px;
  }
  to {
    top: 5px;
  }
}

// Section Styles
.section-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-header .title {
  font-size: 3rem;
}

.section-option {
  margin-left: 2em;
}

.section-option.button {
  font-size: 0.85rem;
}

// Article Preview Styles
.preview-container + .preview-container {
  border-top: 1px solid #181818;
}

.preview-link {
  display: block;
  padding: 1.5rem 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 0.2rem;
}

.preview-link:hover {
  // color: white;
  color: $purple;
  background-color: #303030;
}

.preview-link .article-title {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
}

.preview-link .article-date {
  margin: 0.1rem 0 0 0 !important;
  color: rgba($color: #fff, $alpha: 0.87);
  font-weight: 600;
  font-size: 1.125rem;
}

.preview-link:hover .article-date {
  // color: white;
  color: rgba($color: $purple, $alpha: 0.87);
}

// Projects Preview
.project-preview-container {
  display: flex;
  border-radius: 8px;
  background-color: rgba($color: transparent, $alpha: 0.2);
  overflow: hidden;
}

.project-preview-container + .project-preview-container {
  margin: 1.5rem 0;
}

.project-thumbnail {
  flex-shrink: 0;
  width: 25%;
}

.thumbnail-wrapper {
  height: 100%;
  width: 100%;
}

.thumbnail-wrapper > div {
  padding-bottom: 0 !important;
}

.project-meta {
  flex-grow: 1;
  padding: 1rem;
}

.project-meta .header {
  display: flex;
  flex-wrap: wrap;
}

.project-options {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.project-options.header {
  display: none;
}

.project-options .button svg {
  margin-right: 0.2rem;
}

.project-meta .subtitle-custom {
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}

.project-meta .description {
  font-size: 1.25em;
  color: rgba($color: #fff, $alpha: 0.6);
  margin: 0 0 1rem 0;
}

.project-meta .button {
  margin-left: 0.25rem;
}

@media screen and (min-width: $tablet) {
  .project-meta {
    padding: 1.25rem 2rem;
  }

  .project-meta .subtitle-custom {
    font-size: 2rem;
  }

  .project-options.header {
    display: flex;
  }

  .project-options.bottom {
    display: none;
  }

  .project-meta .description {
    font-size: 1.5rem;
  }
}
