.hero {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background: $charade;
}

.hero-body {
  padding: 3rem 3.5rem !important;
}

.preview {
  display: block;
  padding: 1rem 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 0.2rem;
}

.preview:hover {
  background-color: #303030;
}
