.hero {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background: $charade;
}

.button.preview {
  display: block;
  text-align: left;
  height: auto;
  margin-left: -1rem;
  padding: 0;
}

.preview-container {
  padding: 1rem;
  // border-radius: 0.3rem;
}
