.content-container {
  max-width: 825px;
  margin: 0 auto;
}

.content-header h1 {
  margin-bottom: 1rem;
}

.meta-container {
  display: flex;
  align-items: center;
}

.meta-container .date {
  color: rgba($color: #fff, $alpha: 0.87);
  font-weight: 500;
  margin: 0;
}

.tags-container {
  margin-left: auto;
}

.tags-container .button {
  font-size: 0.8rem;
}

.content-container ul {
  list-style-type: initial;
}

.post {
  font-size: 1.25rem;
  line-height: 1.6;
}

code {
  font-size: 1rem !important;
}
