@import "~bulma/sass/utilities/functions";

$purple: #bd93f9;
$purple-invert: findColorInvert($purple);

$charade: #282a36;
$charade-invert: findColorInvert($charade);

$mine-shaft: #202020;
$mine-shaft-invert: findColorInvert($mine-shaft);

$custom-colors: (
  "purple": (
    $purple,
    $purple-invert
  ),
  "charade": (
    $charade,
    $charade-invert
  ),
  "mine-shaft": (
    $mine-shaft,
    $mine-shaft-invert
  )
);
