@import "~bulma/sass/utilities/functions";

$purple: #bd93f9;
$purple-invert: findColorInvert($purple);

$charade: #282a36;
$charade-invert: findColorInvert($charade);

$custom-colors: (
  "purple": (
    $purple,
    $purple-invert
  ),
  "charade": (
    $charade,
    $charade-invert
  )
);
